html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header {
    
    position:relative;
    top: -15px;
    right: 15px;
    width: 100vw;
    height: 340px;
    background:url(1.gif) no-repeat center/cover;
    
}
.home,.about,.blog,.recipes,.contact{
    cursor: pointer;
    color: #ffffff;
    font-size: 50px;
    text-align: justify;
    font-family: 'Pacifico';
    padding: 30px;
}

label {
    position: relative;
    top: 15%;
    
}
.title{
    color: #650000;
    font-family: 'Pacifico';
    font-size:80px ;
    text-align: center;

}
#description p {
    top: 35px;
    position: relative;
    font-size: 40px;
    text-align: center;
    color: #650000;
    font-family: 'Pacifico';
}
img{
    width:350px;
    height: 350px;
    border-radius: 50%; 
    overflow: hidden;
    padding: 35px;
    margin: 20px;
    opacity: 0.8;
   
    transition: .5s ease;
    backface-visibility: hidden;
   
} 
a {
    text-decoration: none;
}

img:hover{
    opacity: 0.5;

}



.link-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
  }
  
  .link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: opacity 0.2s;
  }
  
  .link img {
    max-width: 100%;
    border-radius: 50%; 
    
  }
  
  .link-text {
    font-size: 24px;
    color: #BA0900;
    margin-top: 10px;
    transition: opacity 0.2s;
  }
  

.border{
    border: 5px dotted  #8D313C;
    padding: 20PX;
    border-radius: 15px;
    
}
.legend{
    text-align: center ;
    font-size: 50px;
    color: #650000;
    font-family: 'Pacifico';
}
#health {
    font-size: 35px;
    color: #BA0900;
    font-family:'Open Sans';
}
h1 {
    font-size: 24px;
    color: #BA675E;
    font-family:'Open Sans';
}
h2 {
    font-size: 20px;
    color: #BA675E;
    font-family:'Open Sans';
}
p {
    font-size: 16px;
    font-family:'Open Sans';
}
.paragraph {
    margin-bottom: 20px;
    font-family:'Open Sans';
}
.sub-heading {
    font-weight: bold;
    margin-top: 15px;
    font-family:'Open Sans';
}
footer {
    background: url(2.gif) no-repeat center/cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 5px;
    right: 15px;
    width: 100%;
    height: auto;
    padding: 10px;
    
  }
  
  .contant {
    text-align: center;
    font-family: 'Pacifico';
    font-size: 24px;
    color: #ffffff;
    margin: 10px 0;
  }
 
  .contact-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  
  .phone,
  .email,
  .fax,
  .adress {
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Open Sans';
    background-color: #ba675e5b;
    border-radius: 5px;
    margin: 5px;
    
    
  }
  
  .footer-text {
    font-size: 16px;
    padding: 10px;
    font-family: 'Pacifico';
    color: #650000;
  }
  